@import "tailwindcss";

@theme {
  --color-primary: #050505;
  --color-secondary: #0A0A0C;
  --color-accent: #0050FF;
  --color-accent-cyan: #00D6FF;
}

body {
  background-color: var(--color-primary);
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.text-gradient {
  background: linear-gradient(180deg, #FFFFFF 0%, #00D6FF 250%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
